.icon {
    display: block;
    height: 128px;
    width: 128px;
}

.clear-day {
    background-image: url("clear-day.png");
    background-repeat:none;
}

.clear-night {
    background-image: url("clear-night.png");
    background-repeat:none;
}

.cloudy {
    background-image: url("cloudy.png");
    background-repeat:none;
}

.fog {
    background-image: url("fog.png");
    background-repeat:none;
}

.partly-cloudy-day {
    background-image: url("partly-cloudy-day.png");
    background-repeat:none;
}

.partly-cloudy-night {
    background-image: url("partly-cloudy-night.png");
    background-repeat:none;
}

.rain {
    background-image: url("rain.png");
    background-repeat:none;
}

.sleet {
    background-image: url("sleet.png");
    background-repeat:none;
}

.snow {
    background-image: url("snow.png");
    background-repeat:none;
}

.wind {
    background-image: url("wind.png");
    background-repeat:none;
}
